include ../mixins/index

doctype html
html(lang="en") 

  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || 'Todo'
    //- link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="/dist/site.min.css", rel="stylesheet")


    if user && user.canAccessKeystone
      link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

    block css

    script(src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js")
    script(src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js")

    block head
  body(ng-app='todo')
    +flash-messages(messages)
    block intro
    
    block content
    script(src='/dist/bundle.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js", integrity="sha256-GMscmjNs6MbZvXG2HRjP3MpdOGmXv078SRgH7M723Mc= sha512-1wnhBRtA+POGVA0yREk2RlDbJEdkNvMuRBGjT1FCI5wXmpiQHZWDIB8MpANBWM/GKSPDgCA/7HTrAIFgv70/Jw==", crossorigin="anonymous")  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js')
    //- script(src="/socket.io/socket.io.js")
    if user && user.canAccessKeystone
      script.
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    
  block js
